/* style.module.css */

.mapContainer {
    height: 100vh; /* Modified to fill the whole viewport height */
    width: 100%;
    position: relative; /* Ensure the container is positioned correctly */
}

.mapboxgl-canvas {
    height: 100%; /* Ensure the map canvas fills the container */
    width: 100%;
}

.mapboxgl-marker {
    background-image: url('/marker-icon.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
 